<div *ngIf="loginError" class="error-message">incorrect</div>
<div *ngIf="loggedIn" class="">connexion ok</div>

<span>Login</span>
<form [formGroup]="loginForm" (submit)="onSubmit()">
  <label for="username">Username:</label>
  <input formControlName="username" placeholder="username" id="username" required>

  <label for="password">Password:</label>
  <input formControlName="password" placeholder="password" type="password" id="password" required>

  <div>
    <button type="submit">Login</button>
  </div>
</form>
