.card-header{
  background-color: #3876BF;
  color: #f3f3f3;
}

a:hover {
  background-color: #9BCDD2;
}
.btnChannel{
  background-color: #9BCDD2;
}


button {
  font-family: Arial, Helvetica;
  font-size: 16px;
  padding: 10px;
  background: #fff;
  color: #000;
  display: inline;
  border: 0;
  text-decoration: none;
  line-height: 17px;
}
