nav {
  margin: 27px auto 0;
  position: relative;
  width:1500px;
  height: 50px;
  background-color: #f3f3f3;
  border-radius: 8px;
  font-size: 0;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #f3f3f3;
}
p {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #5B9A8B;
  font-family: 'Cherry Swash',cursive;
  font-size: 16px;
  margin-bottom: -10px;
}
