<div class="col-sm-9">
  <div class="row">
    <article class="container">
      <div class="card-header pb-0">
        <h5 class="card-title">{{ this.channelService.currentChannel.nom}}</h5>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading m-3 ">Fil de conversation</div>
        <div class="panel-body">
          <app-messages-list></app-messages-list>
        </div>
      </div>
    </article>
  </div>

  <div class="row">
    <form (ngSubmit)="addMessageSubmit()">
      <div class="text-box">
        <label for="messageContent" class="m-3">Message :</label>
        <input id="messageContent" type="text" name="contenu" [(ngModel)]="this.newMessage.contenu">
        <button class="btn btn-primary m-3" type="submit">Ajouter</button>
      </div>
    </form>
  </div>
</div>
