<!-- Alert -->
  <div class="alert alert-danger alert-dismissible " role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertEdit()" ><span aria-hidden="true">&times;</span></button>
    <i class="fa fa-random m-1" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10">

    </circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
    </i>
    <strong> Erreur :</strong> Le canal général ne peut pas être modifié ou supprimer !
  </div>



