<div class="col-sm-3">
    <div class="card">
        <div class="card-header p-b-5">
            <h5 class="card-title text-center"><i class="fa fa-random" aria-hidden="true"></i>Canaux</h5>
        </div>
        <div class="list-group list-group-flush" *ngFor="let item of this.channels.channelList">
            <a class="list-group-item list-group-item-action"  [class.active]= "item.id === selectedItem" (click)="setActiveClass(item.id)">{{item.nom|uppercase}} </a>
        </div>
    </div>
    <div class="card">
      <div class="one"></div>
      <div class="two">
        <button type="button" class="btn btnChannel m-2" (click)="editChannel()">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                <path
                    fill="#219C90"
                    d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                />
            </svg> Modifier

        </button>

        <button type="button" class="btn btnChannel m-2" (click)="deleteChannel()">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 448 512">
                <path
                    fill="#E55604"
                    d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"
                />
            </svg> Supprimer

        </button>

        <button type="button" class="btn btnChannel m-2"  (click)="addChannel()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#3876BF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
         Ajouter
        </button>

        </div>
    </div>
</div>



 <!------ DEBUT  MODAL DELETE CHANNEL --->

  <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyledelete}">
  <div class="modal-dialog" role="document">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center">
          <i class="fa fa-random" aria-hidden="true"></i>
          <svg xmlns="http://www.w3.org/2000/svg" height="20" width="25" viewBox="0 0 640 512">
            <path
              fill="#E5D283"
              d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM472 200H616c13.3 0 24 10.7 24 24s-10.7 24-24 24H472c-13.3 0-24-10.7-24-24s10.7-24 24-24z"
            />
          </svg> Supprimer le canal </h4>

      </div>
      <div class="modal-body">
        <article class="l-design-widht">
          <div class="card">
            <p style="text-align: center; color: crimson;">Êtes-vous certain de supprimer le canal ? </p>
          </div>
        </article>
      </div>
      <div class="modal-footer  button-group">
        <button type="button" class="btn btn-danger"(click)="closeDelete()"> Non </button>
        <button class="btn btn-primary"  type="submit"  (click)="deleteChannelSubmit()"> Oui </button>
    </div>
      </div>
    </div>
  </div>



  <!-- FIN MODAL DELETE CHANNEL   -->

<!-------------- Modal ADD CHANNEL   ----------->

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyleAdd}">
  <div class="modal-dialog" role="document">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center">  Ajouter un canal </h4>
      </div>
      <div class="modal-body">
        <form >
          <div>
            <label for="nameAddCanal" class="m-3">
              Nom ?:
            </label>
            <input id="nameAddCanal" type="text" name="nom"  [(ngModel)]="inputAddChannel.nom">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closeAdd()">
          Fermer
        </button>
        <button class="btn btn-primary"  type="submit"
                (click)="addChannelSubmit()">
          Ajouter
        </button>

      </div>
    </div>
  </div>
</div>

<!-- Fin  Modal ADD CHANNEL -->


<!------ DEBUT  MODAL EDIT CHANNEL --->

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyleEdit}">
  <div class="modal-dialog" role="document">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center">
          <i class="fa fa-random" aria-hidden="true"></i>
          <svg xmlns="http://www.w3.org/2000/svg" height="20" width="25" viewBox="0 0 640 512">
            <path
              fill="#E5D283"
              d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM472 200H616c13.3 0 24 10.7 24 24s-10.7 24-24 24H472c-13.3 0-24-10.7-24-24s10.7-24 24-24z"
            />
          </svg> Modifier le canal </h4>

      </div>
      <div class="modal-body">
        <form >
          <div>
            <label for="nameEdit">
              Nouveau nom ?:
            </label>
            <input id="nameEdit" type="text" name="nom"  [(ngModel)]="inputChannel.nom">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closeEdit()">
          Fermer
        </button>
        <button class="btn btn-primary"  type="submit"
                (click)="editChannelSubmit()">
          Modifier
        </button>

      </div>
    </div>
  </div>

  <!------ FIN  MODAL EDIT CHANNEL --->














</div>
