.card-header{
  background-color: #3876BF;
  color: #f3f3f3;
}

a:hover {
  background-color: #A1CCD1;
}
.btnChannel{
  background-color: #f3f3f3;
}
.btnChannel:hover{
  background-color: #A1CCD1;
}

button {
  font-family: Arial, Helvetica;
  font-size: 16px;
  padding: 10px;
  background: #A1CCD1;
  color: #000;
  display: inline;
  border: 0;
  text-decoration: none;
  line-height: 17px;
}
